  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 95vh;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      .marker{
        background-image: url('../mark_icon.svg');
        background-size:cover;
        width: 55px ;
        height:85px;
        transform: translateY(-50px);
        cursor: pointer;
      }